<div fxLayout="column">
  <h1 class="mat-display-2" i18n>Comparison of Runs</h1>
</div>
<mat-tab-group>
  <mat-tab label="Metrics" aria-label="Metrics tab">
    <h2></h2>
    <app-run-params-metrics-table
      id="run-metrics-table"
      [data$]="metrics$"
      [displayedColumnsName$]="displayedMetricsColumns$"
      [displayedColumnsStartTime$]="displayedColumnsStartTime$"
    >
    </app-run-params-metrics-table>
  </mat-tab>
  <mat-tab label="Parameters" aria-label="Parameters tab">
    <h2></h2>
    <app-run-params-metrics-table
      id="run-parameters-table"
      [data$]="parameters$"
      [displayedColumnsName$]="displayedParametersColumns$"
      [displayedColumnsStartTime$]="displayedColumnsStartTime$"
    >
    </app-run-params-metrics-table>
  </mat-tab>
  <div id="git-diff-div" *ngIf="(runs$ | async)?.length === 2">
    <mat-tab label="Git Diff" aria-label="Git Diff tab">
      <h2></h2>
      <div id="git-diff-compare-message" fxLayout="row">
        Comparing&nbsp;
        <div *ngFor="let run of runs$ | async; let i = index">
          {{run.name}} ( {{run.git?.commitHash? run.git?.commitHash : "n/a"}} )
          <span *ngIf="i === 0">
               &nbsp;and&nbsp;
            </span>
        </div>.
      </div>
      <app-file-diff id="git-file-diff" [gitDiff$]="gitDiff$">
      </app-file-diff>
    </mat-tab>
  </div>
</mat-tab-group>
