<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <h1 class="mat-display-2" i18n>API Keys</h1>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        aria-label="Add API Key"
        (click)="openCreateApiKeyDialog()"
        i18n
      >
        Add API Key
      </button>
    </div>
  </div>
  <div fxLayout="column" class="example-container mat-elevation-z2">
    <table mat-table matSort [dataSource]="dataSource" aria-label="API keys overview">
      <ng-container matColumnDef="description">
        <th
        id="description"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          aria-label="API Key Description"
          i18n
        >
          Description
        </th>
        <td headers="description" mat-cell *matCellDef="let element">
          {{ element?.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th
        id="created-at"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          aria-label="API Key Creation Date"
          i18n
        >
          Created at
        </th>
        <td headers="created-at" mat-cell *matCellDef="let element">
          {{ element?.createdAt | date: "medium" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="expiresAt">
        <th
        id="expires-at"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          aria-label="API Key Expiration Date"
          i18n
        >
          Expires at
        </th>
        <td headers="expires-at" mat-cell *matCellDef="let element">
          {{ element?.expiresAt ? (element?.expiresAt | date: "medium") : "-" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <th
        id="actions"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          aria-label="API Key actions"
          i18n
        >
          Actions
        </th>
        <td headers="actions" mat-cell *matCellDef="let element">
          <button
            mat-button
            (click)="deleteApiKey(element)"
            aria-label="Icon button to delete api key"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
