  <div>
    <h1 class="mat-display-2" mat-dialog-title i18n>{{ data.title }}</h1>
  </div>
  <div>
  <mat-dialog-content (keydown)="keyDown($event)">
    <app-file-upload></app-file-upload>
  </mat-dialog-content>
  </div>
  <mat-dialog-actions align="end">
    <button id="add-validation-data--cancel-button" mat-button (click)="cancel()" type="button" i18n>Cancel</button>
    <span class="margin-right-sm"></span>
    <button
      id="add-validation-data-upload-button"
      mat-button
      (click)="save()"
      type="submit"
      color="primary"
      cdkFocusInitial
      i18n
    >
      Upload
    </button>
  </mat-dialog-actions>
