<div fxLayout="column" fxFlex="100" class="example-container mat-elevation-z2">
  <table mat-table [dataSource]="models$" aria-label="Models overview">
    <ng-container matColumnDef="modelName">
      <th id="model-name" mat-header-cell *matHeaderCellDef i18n>Model name</th>
      <td headers="model-name" mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="version">
      <th id="version" mat-header-cell *matHeaderCellDef i18n>Version</th>
      <td headers="version" mat-cell *matCellDef="let element">{{ element.version }}</td>
    </ng-container>
    <ng-container matColumnDef="stage">
      <th id="stage" mat-header-cell *matHeaderCellDef i18n>Stage</th>
      <td headers="stage" mat-cell *matCellDef="let element">
        <app-model-stage-i18n [key]="element.model.stage"></app-model-stage-i18n>
      </td>
    </ng-container>
    <ng-container matColumnDef="runs">
      <th id="runs" mat-header-cell *matHeaderCellDef i18n>Runs</th>
      <td headers="runs" mat-cell *matCellDef="let element">
        <mat-chip-list #tagList aria-label="Runs">
          <mat-chip *ngFor="let run of element.runs" (click)="runClicked(run)" [selectable]="true" [removable]="false">
            {{ run.name }} - {{ run.key }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions" [stickyEnd]="true">
      <th id="actions" mat-header-cell *matHeaderCellDef i18n>Actions</th>
      <td headers="actions" mat-cell *matCellDef="let element">
        <button
          mat-button
          (click)="openEditModelDialog(element)"
          matTooltip="Edit {{ element.name }} model"
          aria-label="Icon button to edit model"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-button
          (click)="openModelStageLog(element)"
          matTooltip="Show model stage log for {{ element.name }}"
          aria-label="Icon button to show model stage log"
        >
          <mat-icon>history</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- TODO: Create component -->
  <mat-card *ngIf="isLoading$ | async" fxLayoutAlign="center center">
    <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
  </mat-card>
</div>
