<div fxLayout="column" fxFlexFill>
  <mat-drawer-container autosize fxFlexFill>
    <mat-drawer style="width: 15vw" #drawer mode="side" autoFocus="true" opened="true">
      <mat-nav-list>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span i18n>
            <h2 class="mat-h2" class="primary-font-color">User settings</h2>
          </span>
        </div>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['user-profile']">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon matListIcon class="padding">face</mat-icon>
            <span matLine i18n>Profile</span>
          </div>
        </a>
        <mat-expansion-panel id="keys-expansion-panel" mat-list-item class="mat-elevation-z0" expanded>
          <mat-expansion-panel-header class="padding-side-nav">
            <mat-panel-title class="mat-body">
              <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="padding-side-nav" >vpn_key</mat-icon>
              <span matLine i18n>Keys</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item [routerLink]="['api-keys']">
              <span class="mat-body" i18n>API Keys</span>
          </a>
          <a mat-list-item [routerLink]="['ssh-keys']">
            <span class="mat-body" i18n>SSH Keys</span>
          </a>
        </mat-expansion-panel>

      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="bg-white">
      <div fxLayout="row">
        <div>
          <button id="nav-toggle-button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>{{ drawer.opened ? "chevron_left" : "chevron_right" }}</mat-icon>
          </button>
        </div>
        <div class="container" fxFlex="100">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
