  <div>
    <h1 class="mat-display-2" mat-dialog-title i18n>{{ data.title }}</h1>
  </div>
  <div>
  <mat-dialog-content [formGroup]="form" (keydown)="keyDown($event)">
    <mat-form-field>
      <mat-label i18n>Validation data set name</mat-label>
      <input matInput formControlName="name" placeholder="Validation data set name" cdkFocusInitial required />
      <mat-error *ngIf="form.get('name').hasError('required')" i18n> You must provide a validation data set name. </mat-error>
    </mat-form-field>
    <app-file-upload (newFilesForUploadWithHashesAddedEvent)="updateFilesForUploadWithHashes($event)"></app-file-upload>
  </mat-dialog-content>
  </div>
  <mat-dialog-actions align="end">
    <button id="add-validation-data-set--cancel-button" mat-button (click)="cancel()" type="button" i18n>Cancel</button>
    <span class="margin-right-sm"></span>
    <button
      id="add-validation-data-set-upload-button"
      mat-button
      (click)="create()"
      type="submit"
      color="primary"
      cdkFocusInitial
      i18n
    >
      Create
    </button>
  </mat-dialog-actions>
