<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        matTreeNodePadding
      >
        <button mat-icon-button disabled></button>
        <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type === "file" ? "description" : "folder" }}
        </mat-icon>
        {{ node.name }}
        <button
          mat-icon-button
          *ngIf="node.downloadable"
          (click)="download(node)"
          i18n
        >
          <mat-icon class="download-icon">cloud_download</mat-icon>
        </button>
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button
          id="node-expand-button"
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type === "file" ? "description" : "folder" }}
        </mat-icon>
        {{ node.name }}
        <button
          id="node-download-button"
          mat-icon-button
          *ngIf="node.downloadable"
          (click)="download(node)"
          i18n
        >
          <mat-icon class="download-icon">cloud_download</mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
  </mat-card-content>
</mat-card>
