<div fxLayout="row" #tabBar>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="app-toolbar app-toolbar-inactive" (scroll)="onWindowScroll($event)">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div>
            <a id="ml-aide-button" mat-button [routerLink]="['/']">
              <div fxLayout="row" fxLayoutAlign="center center">
                <img class="img-logo" src="../../../assets/Home/Logo_red_eyes_round.png" />
                <span class="mat-h1 home-button">ML Aide</span>
              </div>
            </a>
          </div>
          <div *ngIf="isAuthenticated$ | async">
            <a mat-button [matMenuTriggerFor]="projectsMenu" i18n>Projects</a>
            <mat-menu #projectsMenu>
              <div *ngFor="let project of (projects$ | async)">
                <a mat-menu-item [routerLink]="['projects', project.key]">{{ project.name }}</a>
              </div>
              <a mat-menu-item [routerLink]="['projects']" i18n>Show all</a>
            </mat-menu>
          </div>
        </div>
        <div *ngIf="isAuthenticated$ | async">
          <a mat-button [matMenuTriggerFor]="userMenu" aria-label="User profile button with a menu">
            {{ (user$ | async)?.nickName }}
          </a>
          <mat-menu #userMenu>
            <a mat-menu-item [routerLink]="['user-settings', 'user-profile']">
              <mat-icon>settings</mat-icon><span i18n>Settings</span>
            </a>
            <a mat-menu-item (click)="logout()"> <mat-icon>exit_to_app</mat-icon> <span i18n>Logout</span> </a>
          </mat-menu>
        </div>
        <div *ngIf="(isAuthenticated$ | async) == false">
          <a id="login-button" mat-flat-button color="primary" (click)="login()" aria-label="Login button">
            <mat-icon>login</mat-icon><span class="button-text" i18n>Login</span>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<!--https://stackoverflow.com/questions/46966728/use-variable-inside-style-tag-angular-2
https://stackoverflow.com/questions/33135398/how-do-properly-use-csss-calc-with-ng-style-->
<div [ngStyle]="{ height: 'calc(100vh - ' + tabBarHeight + 'px)' }">
  <router-outlet></router-outlet>
</div>
