<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxLayout="column" fxFlex="50">
    <h1 class="mat-display-2" aria-label="Title of user component" i18n>Personal information</h1>
    <span
      id="sub-text"
      class="mat-body"
      aria-label="Subtext of user component's title"
      i18n
      >Edit your personal information here.</span
    >
    <h3 class="mat-h3" i18n><span></span></h3>
    <form
      id="user-form"
      [formGroup]="userForm"
      *ngIf="userForm"
      role="Form to edit user settings"
      (submit)="save()"
    >
      <div>
        <mat-form-field fxFlex="50">
          <mat-label i18n>First name</mat-label>
          <input
            matInput
            formControlName="firstName"
            placeholder="First name"
          />
        </mat-form-field>
        <span class="margin-right-md"></span>
        <mat-form-field fxFlex="50">
          <mat-label i18n>Last name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex="50">
          <mat-label i18n>Nickname</mat-label>
          <input
            #nickName
            matInput
            formControlName="nickName"
            placeholder="Nickname"
            required
          />
          <mat-error *ngIf="nickName.required" i18n
            >You must provide a nickname.</mat-error
          >
        </mat-form-field>
        <span class="margin-right-md"></span>
        <mat-form-field fxFlex="50">
          <mat-label i18n>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="your@email.com"
            readonly="true"
          />
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end">
        <button
          id="user-changes-cancel-button"
          mat-button
          (click)="cancel()"
          type="button"
          aria-label="Button to cancel changes in user settings"
          i18n
        >
          Cancel
        </button>
        <span class="margin-right-sm"></span>
        <button
          id="user-changes-save-button"
          mat-raised-button
          type="submit"
          [disabled]="!userForm.valid"
          color="primary"
          cdkFocusInitial
          aria-label="Button to save changes in user settings"
          i18n
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
