<div fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <h1 class="mat-display-2" i18n>Project Members</h1>
    </div>
    <div *ngIf="(currentProjectMember$ | async)?.role === 'OWNER'">
      <button mat-raised-button color="primary" aria-label="Add Project Member" (click)="addProjectMember()" i18n>
        Add Project Member
      </button>
    </div>
  </div>

  <div fxLayout="column" class="example-container mat-elevation-z2">
    <table mat-table matSort [dataSource]="projectMembers$" aria-label="Project members overview">
      <ng-container matColumnDef="nickName">
        <th id="nickname" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Nickname</th>
        <td headers="nickname" mat-cell *matCellDef="let element">{{ element?.nickName }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th id="email" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Email</th>
        <td headers="email" mat-cell *matCellDef="let element">{{ element?.email }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th id="role" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Role</th>
        <td headers="role" mat-cell *matCellDef="let element">
          <app-project-member-role-i18n [key]="element.role"></app-project-member-role-i18n>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <th id="actions" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Actions</th>
        <td headers="actions" mat-cell *matCellDef="let element">
          <button
            mat-button
            (click)="editProjectMember(element)"
            aria-label="Icon button to edit user's role in project"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="removeProjectMember(element)" aria-label="Icon button to delete user from project">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="(displayedColumns$ | async)"></tr>
      <tr mat-row *matRowDef="let row; columns: (displayedColumns$ | async)"></tr>
    </table>

    <mat-card *ngIf="(isLoading$ | async)" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>
  </div>
  
</div>
