<div fxLayout="column" fxFlex="100" class="example-container mat-elevation-z2">
  <table mat-table [dataSource]="artifacts$" aria-label="Artifacts overview">
    <ng-container matColumnDef="createdAt">
      <th id="created-at" mat-header-cell *matHeaderCellDef i18n>Created at</th>
      <td headers="created-at" mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "medium" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="artifactName">
      <th id="artifact-name" mat-header-cell *matHeaderCellDef i18n>Artifact name</th>
      <td headers="artifact-name" mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="version">
      <th id="version" mat-header-cell *matHeaderCellDef i18n>Version</th>
      <td headers="version" mat-cell *matCellDef="let element">{{ element.version }}</td>
    </ng-container>
    <ng-container matColumnDef="runs">
      <th id="runs" mat-header-cell *matHeaderCellDef i18n>Runs</th>
      <td headers="runs" mat-cell *matCellDef="let element">
        <mat-chip-list #tagList aria-label="Runs">
          <mat-chip *ngFor="let run of element.runs" (click)="runClicked(run)" [selectable]="true" [removable]="false">
            {{ run.name }} - {{ run.key }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th id="type" mat-header-cell *matHeaderCellDef i18n>Type</th>
      <td headers="type" mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card *ngIf="isLoading$ | async" fxLayoutAlign="center center">
    <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
  </mat-card>
</div>
