@import '~@angular/material/theming';
@import './../../../../../../styles.scss';

.mat-card {
  padding: 0;
  margin: 0;
}

.runs-box {
  border-radius: 4px; 
  border-color: gray;
  border-style: solid; 
  border-width: 2px; 
  width: 16px; 
  height: 16px; 
  background-color: rgb(25, 92, 193) ;
}

.artifacts-box {
  border-radius: 4px;
  border-color: gray; 
  border-style: solid; 
  border-width: 2px; 
  width: 16px; 
  height: 16px; 
  background-color: rgb(209, 31, 31);
}

svg {
  width: 100%;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
svg:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

:host ::ng-deep { // https://stackoverflow.com/questions/54169415/unable-to-apply-styles-to-svgs-in-component-css-with-angular-only-in-global-cs  
  .node rect {
    stroke: gray;
    stroke-width: 2px;
  }

  .node.run rect {
    fill: $primary;
  }

  .node.artifact rect {
    fill: $accent;
  }

  .node text tspan {
    fill: #fff;
  }
  
  .edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
  }
}