<div fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxLayoutAlign="end center">
    <h3 class="mat-h3">
      <a id="compare-button" mat-stroked-button [disabled]="selectedLessThanTwoRows()" (click)="goToRunCompareComponent()" i18n>
        <mat-icon class="padding-sm-r">compare</mat-icon>Compare
      </a>
      <span class="margin-right-sm"></span>
      <button id="export-button" mat-stroked-button [disabled]="selectedLessThanOneRow()" (click)="exportSelectedRuns()" i18n>
        <mat-icon class="padding-sm-r">cloud_download</mat-icon>Export
      </button>
      <span class="margin-right-sm"></span>
      <button id="show-or-hide-parameters-button" mat-stroked-button (click)="toggleParameters()" i18n>
        <mat-icon class="padding-sm-r">{{ hideParameters ? "visibility" : "visibility_off" }}</mat-icon>
        {{ hideParameters ? "Show Parameters" : "Hide Parameters" }}
      </button>
    </h3>
  </div>
  <div fxLayout="column" class="example-container mat-elevation-z2">
    <table mat-table matSort [dataSource]="dataSource" *ngIf="dataSource" aria-label="Runs overvies">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th id="checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            id="master-checkbox"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td headers="checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
        <td headers="name" mat-cell *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="['/projects/' + projectKey + '/runs/' + element.key]">
            {{ element.name }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th id="status" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Status</th>
        <td headers="status" mat-cell *matCellDef="let element">
          <app-run-status-i18n [key]="element.status"></app-run-status-i18n>
        </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th id="start-time" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Start time</th>
        <td headers="start-time" mat-cell *matCellDef="let element">
          {{ element.startTime | amTimeAgo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="runTime">
        <th id="run-time" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Run time</th>
        <td headers="run-time" mat-cell *matCellDef="let element">
          {{ element.endTime ? (element.startTime | duration: element.endTime) : "-" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="parameters">
        <th id="parameters" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Parameters</th>
        <td headers="parameters" mat-cell *matCellDef="let element">
          <mat-list id="parameters-list" role="list">
            <mat-list-item role="listitem" *ngFor="let item of element.parameters | keyvalue">
              <mat-icon class="padding-sm-r">remove</mat-icon> {{ item.key }} :
              {{ item.value }}
            </mat-list-item>
          </mat-list>
        </td>
      </ng-container>
      <!-- https://angular.io/api/common/KeyValuePipe -->
      <ng-container matColumnDef="metrics">
        <th id="metrics" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Metrics</th>
        <td headers="metrics" mat-cell *matCellDef="let element">
          <mat-list id="metrics-list" role="list">
            <mat-list-item role="listitem" *ngFor="let item of element.metrics | keyvalue">
              <mat-icon class="padding-sm-r">remove</mat-icon> {{ item.key }} :
              {{ item.value }}
            </mat-list-item>
          </mat-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th id="created-by" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Created by</th>
        <td headers="created-by" mat-cell *matCellDef="let element">
          {{ element.createdBy.nickName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="experiments">
        <th id="experiments" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Experiments</th>
        <td headers="experiments" mat-cell *matCellDef="let element">
          <mat-chip-list #tagList aria-label="Experiments">
            <mat-chip
              *ngFor="let experimentRef of element.experimentRefs"
              (click)="experimentClicked(experimentRef)"
              [selectable]="true"
              [removable]="false"
            >
              {{ experimentRef.experimentKey }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-card *ngIf="(isLoading$ | async)" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>
  </div>
</div>
