<!--https://medium.com/@tarekabdelkhalek/how-to-create-a-drag-and-drop-file-uploading-in-angular-78d9eba0b854-->

    <mat-card class="margin-bottom-sm">
      <div class="upload-container" appDragNDrop (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
        <div>
          <mat-icon style="font-size: 48px;">file_upload</mat-icon>
        </div>
        <br>
        <div>
          Drag and drop file here or
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" for="fileDropRef" aria-label="Add new validation data set" i18n>Browse Files</button>
        </div>
      </div>
    </mat-card>

<div style="margin-top: 24px" *ngIf="(uploadFilesWithHashes.length > 0)">
  <span class="mat-h2">Files for upload</span>
</div>

<div class="single-file" *ngFor="let uploadFileWithHashes of uploadFilesWithHashes; let i = index">
  <div fxLayout="row">
    <mat-card class="margin-bottom-sm" fxFlex="100" fxLayoutAlign="space-between center">
        <div>
          <p>{{ uploadFileWithHashes?.file?.name }}</p>
        </div>
        <div>
          <button mat-button (click)="deleteFile(i)" matTooltip="Delete file {{uploadFileWithHashes?.file?.name}}" aria-label="Icon button to delete a upload file from list">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
    </mat-card>
  </div>
</div>


