<!-- Header Start -->
<div fxLayout="column" class="container header">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="50">
      <h1 class="mat-display-2" i18n>Hi there, and a warm welcome from the ML Aide team.</h1>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="50">
      <h3 class="mat-h3" i18n>
        With ML Aide you can track all the relevant information of your machine learning models to ensure reproducibility and
        reusability making your machine learning development lifecycle reliable and operable.
      </h3>
    </div>
  </div>
</div>
<!-- Header End -->
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-divider fxFlex="60"></mat-divider>
</div>
<!-- Getting started Start -->
<div fxLayout="column" class="container tutorials">
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
    <h1 class="mat-display-2" i18n>Let's get started!</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="margin-right-md" fxFlex="20">
      <mat-card-header i18n>
        <h2 class="mat-h2">Basics</h2>
      </mat-card-header>
      <mat-card-content i18n> Learn the basic concepts of ML Aide and get started with our tool. </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
        <a mat-button color="primary" i18n>Learn now</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="margin-right-md" fxFlex="20">
      <mat-card-header i18n>
        <h2 class="mat-h2">Tutorial</h2>
      </mat-card-header>
      <mat-card-content i18n> Check out our Tutorial to get a quick overview of ML Aide. </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
        <a mat-button color="primary" i18n>Start</a>
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="20">
      <mat-card-header i18n>
        <h2 class="mat-h2">Documentation</h2>
      </mat-card-header>
      <mat-card-content i18n> Discover our Documentation and get a deep dive in ML Aide. </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
        <a mat-button color="primary" i18n>Check it out</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- Getting started End -->
