<div fxLayout="column">
  <div>
    <h1 class="mat-display-2" mat-dialog-title i18n>{{ data.title }}</h1>
  </div>
  <mat-dialog-content>
    <div fxLayout="column">
      <table mat-table matSort class="mat-elevation-z2" [dataSource]="dataSource" aria-label="Model stage log">
        <ng-container matColumnDef="createdAt">
          <th id="created-at" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Created at</th>
          <td headers="created-at" mat-cell *matCellDef="let element">{{ element.createdAt | date: "medium" }}</td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th id="user" mat-header-cell *matHeaderCellDef mat-sort-header i18n>User</th>
          <td headers="user" mat-cell *matCellDef="let element">{{ element.createdBy.nickName }}</td>
        </ng-container>
        <ng-container matColumnDef="oldStage">
          <th id="from-stage" mat-header-cell *matHeaderCellDef mat-sort-header i18n>From stage</th>
          <td headers="from-stage" mat-cell *matCellDef="let element">
            <app-model-stage-i18n [key]="element.oldStage"></app-model-stage-i18n>
          </td>
        </ng-container>
        <ng-container matColumnDef="newStage">
          <th id="to-stage" mat-header-cell *matHeaderCellDef mat-sort-header i18n>To stage</th>
          <td headers="to-stage" mat-cell *matCellDef="let element">
            <app-model-stage-i18n [key]="element.newStage"></app-model-stage-i18n>
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th id="note" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Note</th>
          <td headers="note" mat-cell *matCellDef="let element" ngClass="max-width-30">{{ element.note }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="model-stage-close-button" mat-button (click)="close()" cdkFocusInitial i18n>Close</button>
  </mat-dialog-actions>
</div>
