<div fxLayout="column">
  <div>
    <h1 class="mat-display-2" mat-dialog-title i18n>Create new API key</h1>
  </div>

  <mat-dialog-content [formGroup]="form" (keydown)="keyDown($event)">
    <div>
      <mat-form-field fxFlex="100">
        <mat-label i18n>Description</mat-label>
        <input
          id="description-input"
          matInput
          formControlName="description"
          placeholder="Description"
          cdkFocusInitial
          required
        />
        <mat-error *ngIf="form.get('description').hasError('required')" i18n>
          You must provide a description.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100">
        <mat-label i18n>Expires at</mat-label>
        <input
          id="expires-at-input"
          matInput
          type="date"
          [min]="today | date: 'yyyy-MM-dd'"
          formControlName="expiresAt"
          placeholder="Expires at"
        />
      </mat-form-field>
    </div>
    <div *ngIf="apiKey != ''">
      <mat-divider></mat-divider>
      <h3 class="mat-h3">Created API key</h3>
      <div>
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label i18n>API Key</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #notes
            #autosize="cdkTextareaAutosize"
            [value]="apiKey"
            readonly="true"
          ></textarea>
          <button
            id="create-api-key-copy-button"
            mat-icon-button
            matSuffix
            [cdkCopyToClipboard]="apiKey"
            (click)="copy()"
            i18n
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <mat-hint i18n
            >Save this key - you won't be able to access it again.</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div *ngIf="apiKey == ''">
      <button
        id="create-api-key-cancel-button"
        mat-button
        (click)="close()"
        type="button"
        i18n
      >
        Cancel
      </button>
      <span class="margin-right-sm"></span>
      <button
        id="create-api-key-create-button"
        mat-button
        (click)="create()"
        type="submit"
        [disabled]="!form.valid"
        color="primary"
        cdkFocusInitial
        i18n
      >
        Create
      </button>
    </div>
    <div *ngIf="apiKey != ''">
      <button
        id="create-api-key-close-button"
        mat-button
        (click)="close()"
        color="primary"
        cdkFocusInitial
        i18n
      >
        Close
      </button>
    </div>
  </mat-dialog-actions>
</div>
