<div *ngIf="run$ | async; let run">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h1 class="mat-display-2">{{ run.name }}</h1>
  </div>

  <!-- run metadata -->
  <div fxLayout="column">
    <div>
      <h3 class="mat-h3" i18n>Meta data</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end">
      <div fxLayout="column">
        <span id="author-label" class="mat-small" i18n>Author</span>
        <span id="author-value" class="mat-body">{{ run.createdBy.nickName }}</span>
      </div>
      <div fxLayout="column">
        <span id="status-label" class="mat-small" i18n>Status</span>
        <span id="status-value" class="mat-body">
        <app-run-status-i18n [key]="run.status"></app-run-status-i18n>
      </span>
      </div>
      <div fxLayout="column">
        <span id="start-time-label" class="mat-small" i18n>Start Time</span>
        <span id="start-time-value" class="mat-body">{{ run.startTime | amTimeAgo }}</span>
      </div>
      <div fxLayout="column">
        <span id="run-time-label" class="mat-small" i18n>Run Time</span>
        <span id="run-time-value" class="mat-body">{{ run.endTime ? (run.startTime | duration: run.endTime) : "-" }}</span>
      </div>
      <div fxLayout="column">
        <span id="experiments-label" class="mat-small" i18n>Experiments</span>
        <span id="experiments-value">
        <mat-chip-list #tagList aria-label="Experiments">
          <mat-chip *ngFor="let experimentRef of run.experimentRefs" [selectable]="true" [removable]="false">
            {{ experimentRef.experimentKey }}
          </mat-chip>
        </mat-chip-list>
      </span>
      </div>
    </div>
  </div>

  <!-- run note -->
  <app-run-note [note]="run.note" (updateNote)="updateNote($event)"></app-run-note>
</div>

<!-- parameters table -->
<app-parameters-table [parameters$]="parameters$"></app-parameters-table>

<!-- metrics table -->
<app-metrics-table [metrics$]="metrics$"></app-metrics-table>

<!-- artifacts tree -->
<div fxLayout="column">
  <div>
    <h3 id="artifacts-tree-title" class="mat-h3" i18n>Artifacts</h3>
  </div>
  <div>
    <app-artifacts-tree fxFlex="50" [artifacts$]="artifacts$" [projectKey]="projectKey$ | async">
    </app-artifacts-tree>
  </div>
</div>
