<div fxLayout="column">
  <div>
    <h3 id="metrics-title" class="mat-h3" i18n>Metrics</h3>
  </div>
  <div>
    <table
      id="metrics-table"
      fxFlex="50"
      mat-table
      matSort
      class="mat-elevation-z2"
      [dataSource]="dataSource"
      aria-label="Run metrics overview"
    >
      <ng-container matColumnDef="metricsKey">
        <th id="metric-key" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Key</th>
        <td headers="metric-key" mat-cell *matCellDef="let element">
          {{ element.key }}
        </td>
      </ng-container>
      <!-- https://angular.io/api/common/KeyValuePipe -->
      <ng-container matColumnDef="metricsValue">
        <th id="metric-value" mat-header-cell *matHeaderCellDef mat-sort-header i18n>Value</th>
        <td headers="metric-value" mat-cell *matCellDef="let element">
          {{ element.value }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="metricsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: metricsColumns"></tr>
    </table>
  </div>
</div>
