<div fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column">
    <div>
      <h1 class="mat-display-2" fxLayoutAlign="center center" i18n>Oooooops!</h1>
    </div>
    <div>
      <h2 class="mat-h2" fxLayoutAlign="center center" i18n>Server error</h2>
      <span class="mat-body" fxLayoutAlign="center center" i18n>
        Sorry, something went unexpectedly wrong with our code. Please try to retry your action.
      </span>
      <span class="mat-body" fxLayoutAlign="center center" i18n>
        If this does not fix the problem, contact your IT support for further help.
      </span>
    </div>
  </div>
</div>
